<div id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2>A Little About Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>ALittleChange, is an organisation that started off by like-minded people with similar aspiration of making
          our society a better one. As the years goes by, increasing number of youth are beginning to take interest in
          volunteering and the more important thing would be to educate the youth the significance of volunteering so
          that they can understand the needs of the society. We aim to be a catalyst, a platform to improve the
          situation in today's society where youth can inculcate volunteering into their lives and help the ones in
          need.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="content-header">Our Members</h2>
        <p class="content-sub-header">These are our main committee members. Hover over or click each member to learn more about them!</p>
      </div>
    </div>
    <div id="members" *ngIf="members$ | async; let members; else loading">
      <div class="grid-hover">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-xl-4" *ngFor="let memberResult of members.results">
            <figure class="effect-oscar">
              <img [src]="memberResult.data.image.url" class="img-fluid"/>
              <figcaption>
                <h2 *ngIf="memberResult.data.name[0]">{{memberResult.data.name[0].text}}</h2>
                <p class="description" *ngIf="memberResult.data.description[0]">
                  {{memberResult.data.description[0].text}}</p>
              </figcaption>
            </figure>
            <h5 *ngIf="memberResult.data.role[0]" class="text-center">{{memberResult.data.role[0].text}}</h5>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>
</div>
