<div id="cover-wrapper" class="gradient-blue-grey-blue-grey parallax text-white">
  <div id="cover">
    <img src="../../../assets/img/logo.png" class="logo" />
    <h1>Change Starts Here</h1>
    <p>And You Can Be Part Of It</p>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-lg-4 col-md-12">
      <fa-icon [icon]="faIcons.volunteer" size="5x" class="text-secondary"></fa-icon>
      <h3>Volunteer</h3>
      <p>Volunteer for causes you believe in. Empower, inspire and change the lives of others.</p>
      <a href="https://goo.gl/sDGFgn" class="btn btn-light-blue btn-accent-4 btn-raised" target="_BLANK" rel="noopener noreferrer">Join Us</a>
    </div>
    <div class="col-lg-4 col-md-12">
      <fa-icon [icon]="faIcons.learn" size="5x" class="text-secondary"></fa-icon>
      <h3>Learn</h3>
      <p></p>
    </div>
    <div class="col-lg-4 callout">
      <fa-icon [icon]="faIcons.sponsor" size="5x" class="text-secondary"></fa-icon>
      <h3>Sponsor</h3>
      <p>Support and sponsor causes and events that you or your company believe in.</p>
      <a routerLink="/sponsor" class="btn btn-light-blue btn-accent-4 btn-raised">Sponsor</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Projects</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-1">
      <ng-template #loading>
      </ng-template>
      <div class="card-columns" *ngIf="events$ | async; let events; else loading">
        <div class="card" *ngFor="let eventResult of events.results">
          <div class="card-body">
            <img class="card-img-top img-fluid" [src]="eventResult.data['main-img'].url" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{eventResult.data.title[0].text}}</h4>
              <p class="card-text">{{eventResult.data.description[0].text | truncate:[150]}}</p>
              <a routerLink="/events/{{eventResult.id}}" class="btn btn-light-blue btn-accent-1 btn-raised">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
