<div id="footerwrap" class="gradient-blackberry">
  <div class="container">
    <div class="row">
      <div class="col social-media-icons">
        <a href="https://www.facebook.com/ALittleChangeee" target="_BLANK" rel="noopener noreferrer">
          <fa-icon [icon]="faIcons.facebook" size="3x" class="text-white"></fa-icon>
        </a>
        <a href="https://www.instagram.com/_alittlechange" target="_BLANK" rel="noopener noreferrer">
          <fa-icon [icon]="faIcons.instagram" size="3x" class="text-white"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-white">ALittleChange Singapore - Copyright 2018</p>
      </div>
    </div>
  </div>
</div>
